.resume__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.timeline {
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
}

.timeline__item {
    position: relative;
    padding-left: 2.125rem;
    padding-bottom: 1.25rem;
}

.timeline__item:last-child {
    padding-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 1.5px;
    position: absolute;
    left: .25rem;
    height: 100%;
    background-color: var(--first-color);
}

.timeline .icon-briefcase,
.timeline .icon-graduation {
    position: absolute;
    left: -0.8575rem;
    top: 0;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    background-color: var(--container-color);
    padding: .4375rem;
}

.timeline__date {
    color: #8b88b1;
    font-size: var(--small-font-size);
}

.timeline__title {
    font-size: var(--h3-font-size);
    margin: .35rem 0;
}