.test__container {
    max-width: 700px;
}

.test__item {
    text-align: center;
    padding: 0 1.25rem 1.25rem;
}

.thumb {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: var(--shadow);
}

.test__title {
    margin-top: 0.75rem;
}

.test__subtitle {
    color: #8b88b1;
    font-size: var(--small-font-size);
}

.comment {
    background-color: var(--container-color);
    padding: 1rem;
    margin-top: 0.7rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    margin-bottom: 2rem;
}

.swiper-pagination-bullet {
    width: 0.5rem !important;
    height: 0.375rem !important;
    background-color: var(--first-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.2rem !important;
}

.swiper-pagination-bullet-active {
    width: 1.2rem !important;
    height: 0.375rem !important;
    border-radius: 0.5rem !important;
}