.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.975rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.services__card:hover {
    transform: translateY(-10px);
}

.services__card:nth-child(1) {
    background-color: #6a87e3;
    color: white;
    box-shadow: 0px 5px 20px 0px #6a87e377;
}

.services__card:nth-child(2) {
    background-color: #f9d74c;
    color: white;
    box-shadow: 0px 5px 20px 0px #f9d74c77;
}

.services__card:nth-child(3) {
    background-color: #f97b8b;
    color: white;
    box-shadow: 0px 5px 20px 0px #f97b8b77;
}

.services__img {
    margin-bottom: 1.25rem;
    width: 80%;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: white;
}

.services__description {
    color: #f8f9fa;
}

.services__card:nth-child(2) .services__title {
    color: var(--title-color);
}

.services__card:nth-child(2) .services__description {
    color: var(--text-color);
}